# Strings

In [1]:
# Single word
'hello'

'hello'

In [2]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [3]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [1]:
# Careful!!!
' I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-1-7d0e873634d6>, line 2)

The reason for the error above is because the single quote in I'm stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [4]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [3]:
# We can simply declare a string
'Hello World'

'Hello World'

In [5]:
# note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

We can use a print statement to print a string.

In [5]:
print('Hello World 1')
print('Hello World 2')
print('Use\nto print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
to print a new line


See what I mean?

## String Basics

In [33]:
len('Hello World')   # length

11

## String Indexing

In [22]:
# Assign s as a string
s = 'Hello World'

In [23]:
# Print the object
print(s)

Hello World

Let's start indexing!

In [24]:
# Show first element (in this case a letter)
s[0]

'H'

In [25]:
s[1]

'e'

In [26]:
s[2]

'l'

In [27]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [28]:
# Note that there is no change to the original s
s

'Hello World'

In [17]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

In [18]:
#Everything
s[:]

'Hello World'

We can also use negative indexing to go backwards.

In [19]:
# Last letter 
s[-1]

'd'

In [20]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

In [30]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [35]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [36]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

## String Properties
Its important to note that strings have an important property known as immutability. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [37]:
s

'Hello World'

In [38]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [39]:
s

'Hello World'

In [24]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [41]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [42]:
print(s)

Hello World concatenate me! concatenate me!

In [43]:
s

'Hello World concatenate me! concatenate me!'

We can use the multiplication symbol to create repetition!

In [44]:
letter = 'z'

In [45]:
letter*10

'zzzzzzzzzz'

## Basic Built-in String methods

In [46]:
s

'Hello World concatenate me! concatenate me!'

In [47]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME! CONCATENATE ME!'

In [48]:
# Lower case
s.lower()

'hello world concatenate me! concatenate me!'

In [32]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [49]:
# Split by a specific element (doesn't include the element that was split on)
s.split('!')

['Hello World concatenate me', ' concatenate me', '']

## Print Formatting

In [34]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'

In [52]:
v=20
print("This is my number : {}".format(v))

This is my number : v

### f-strings

In [1]:
name="Parakh"
age=19
print(f"My name is {name} and age is {age}" )

My name is Parakh and age is 19